<label class="navegable" id="idnavegable">
	<ul class="menu">
		<li id="menu1"><a href="https://testspb.herokuapp.com/">INICIO</a></li>
		<li id="menu2"><a>VIOLENCIA</a>
			<ul class="submenu">
				<li><a target="_blank" href="https://testspb.herokuapp.com/carga">CARGAR INFORME</a></li>
				<li><a target="_blank" href="https://testspb.herokuapp.com/visualizacion">VISUALIZAR Y BUSCAR INFORME </a></li></li>
			</ul>
		</li>
	</ul>
</label>